html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(53, 54, 70);
    font-family: 'Ubuntu', sans-serif;
}

#wrapper {
    display: grid;
    width: 100%;
    height: 100%;
}

#calc-container {
    display: grid;
    width: 30rem;
    height: 40rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "display display display display"
        "AC plmn power divide"
        "seven eight nine mult"
        "four five six add"
        "one two three minus"
        "zero zero decimal equal";
    justify-self: center;
    align-self: center;

}

#display-container input[type="text"] {
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    text-align: right;
}

#display-container input[type="text"]:focus {
    outline: none;
}

#display-container {
    grid-area: display;
    background-color: rgb(131, 139, 158);
    margin: 0.5rem 1.3rem 0.5rem 1.3rem;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    border-radius: 1.5rem;
}

#upper-display {
    padding: 0.5rem;
    font-size: 2rem;
}


.button {
    width: 4rem;
    height: 4rem;
    background-color: rgb(33, 33, 46);
    justify-self: center;
    align-self: center;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: aliceblue;
    cursor: pointer;
}

.oper {
    background-color: rgb(103, 104, 126);
    color: rgb(23, 19, 34);
}

.ar-oper {
    background-color: rgb(184, 114, 34);
}

.zero {
    grid-area: zero;
    width: 11.5rem;
}

/*grid area naming below, sorry for the spam*/

.AC {
    grid-area: AC;
}

.plmn {
    grid-area: plmn;
}

.power {
    grid-area: power;
}

.divide {
    grid-area: divide;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}


.three {
    grid-area: three;
}


.four {
    grid-area: four;
}


.five {
    grid-area: five;
}


.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.minus {
    grid-area: minus;
}

.add {
    grid-area: add;
}

.divide {
    grid-area: divide;
}

.mult {
    grid-area: mult;
}

.decimal {
    grid-area: decimal;
}

.equal {
    grid-area: equal;
}